/*=========================================================*/
/* Style of post */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #ffc107;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover {
    background: #212529;
}

::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}


.alert-danger {
    color: #ffffff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    width: 90% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto !important;
}

/********** Template CSS **********/
:root {
    --primary: #ff3e41;
    --secondary: #51cfed;
    --light: #f8f2f0;
    --dark: #060315;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 23px;
    margin-top: 17px;
    margin-left: 16px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 7px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
a {
    text-decoration: none !important;
}
.page-header-dashboard {
    margin-bottom: 30px;
}
input.input-search.vs-table--search-input {
    height: 34px;
    margin: 8px;
}

.vs-col.vs-pagination--mb.vs-xs-12.vs-sm-12.vs-lg-12 {
    justify-content: initial !important;
}
.dowload_model {
    float: right;
    margin: 8px 11px;
}
label.file-upload-browse.btn.btn-gradient-primary {
    width: 30%;
    line-height: 28px;
    text-align: center;
    margin: 10px 10px;
}
.btn-sync:hover {
    border-radius: 31px;
    background: #198ae3;
    color: #fff;
    width: 62px;
    min-width: 39px;

    border: none;
    margin-left: 10px;
}

.btn-sync {
    border-radius: 31px;
    color: #198ae3;
    width: 62px;
    min-width: 39px;
    border: 1px solid #198ae3;
    margin-left: 10px;
    background: transparent;
}
span.menu-title.titre_sidebar {
    font-size: 17px !important;
    font-weight: 700;
    color: #3e4b5b !important;
}
.search_bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
tr.tr-values.vs-table--tr.tr-table-state-null {
    background: #7691a617 !important;
}

.quantite_colm {
    text-align: center;
    display: flex;
    align-items: center;
}

.responsable {
    background: #1bcfb4;
    padding: 8px;
    color: white;
    border-radius: 21px;
    margin-right: 16px;
}
.responsable_telephone {
    background: #198754;
    padding: 8px;
    color: white;
    border-radius: 21px;
    margin-right: 16px;
}
.additionalCommentaire {
    min-width: 204px;
}

.etat_commande {
    /* background: #1bcfb4; */
    border-radius: 10px;
    color: white;
    text-align: start;
    width: 100px;
}

@media (min-width: 992px) {
    .page-container {
        max-width: 1140px;
        margin: 0 auto;
    }

    .page-sidenav {
        display: block !important;
    }
}

.padding {
    padding: 1rem;
}

.w-32 {
    width: 32px !important;
    height: 32px !important;
    font-size: 0.85em;
}

.tl-item .avatar {
    z-index: 2;
}

.circle {
    border-radius: 500px;
}

.gd-warning {
    color: #fff;
    border: none;
    background: #f4c414 linear-gradient(45deg, #f4c414, #f45414);
}

.timeline {
    position: relative;
    border-color: rgba(160, 175, 185, 0.15);
    padding: 0;
    margin: 0;
}

.p-4 {
    padding: 1.5rem !important;
}

.block,
.card {
    background: #fff;
    border-width: 0;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.tl-item {
    border-radius: 3px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
}

.tl-item > * {
    padding: 10px;
}

.tl-item .avatar {
    z-index: 2;
}

.tl-item:last-child .tl-dot:after {
    display: none;
}

.tl-item.active .tl-dot:before {
    border-color: #448bff;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, 0.2);
}

.tl-item:last-child .tl-dot:after {
    display: none;
}

.tl-item.active .tl-dot:before {
    border-color: #448bff;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, 0.2);
}

.tl-dot {
    position: relative;
    border-color: rgba(160, 175, 185, 0.15);
}

.tl-dot:after,
.tl-dot:before {
    content: "";
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.tl-dot:after {
    width: 0;
    height: auto;
    top: 25px;
    bottom: -15px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
}

tl-item.active .tl-dot:before {
    border-color: #448bff;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, 0.2);
}

.tl-dot {
    position: relative;
    border-color: rgba(160, 175, 185, 0.15);
}

.tl-dot:after,
.tl-dot:before {
    content: "";
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.tl-dot:after {
    width: 0;
    height: auto;
    top: 25px;
    bottom: -15px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
}

.tl-content p:last-child {
    margin-bottom: 0;
}

.tl-date {
    font-size: 0.85em;
    margin-top: 2px;
    max-width: 100%;
}

.avatar {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 500px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.15);
}
div#qnt {
    margin-top: 7px;
}
.card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}
.text-success {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}
.card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
}

.card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}
.revenue-card .card-icon {
    color: #2eca6a;
    background: #e0f8e9;
}
.cancel-card .card-icon {
    color: #ff002b;
    background: #ffeaec;
}

.customers-card .card-icon {
    color: #ff771d;
    background: #ffecdf;
}
.en-cours-card .card-icon {
    color: #651dff;
    background: #dfd5ff;
}

.sales-card .card-icon {
    color: #4154f1;
    background: #f6f6fe;
}

.info-card {
    padding-bottom: 10px;
}
.info-card h6 {
    font-size: 16.5px;
    color: #012970;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.card-icon.rounded-circle.d-flex.align-items-center.justify-content-center {
    width: 40px;
    height: 40px;
}
.mx-datepicker-range {
    width: 489px !important;
    margin-bottom: 15px !important;
}
.date_time_picker {
    display: flex;
    justify-content: center;
    align-items: center;
}
.commande-information {
    min-width: 220px;
}
/* .qrcode-stream-overlay {
  border: 2px solid #000 !important;

} */
video.qrcode-stream-camera.qrcode-stream-camera {
    margin: 13px 0px;
    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0);
}
.card-body.pt-0.pt-md-4 {
    margin-top: 25px;
}
.vs-table--tbody-table .tr-values td {
    padding: 17px 4px !important;
}
.badge {
    font-size: 14px !important;
    text-decoration: none;
}